@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport{width: device-width; scale: 1;}

html{
	box-sizing: border-box;
font-family: 'Nunito', sans-serif;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 1.1;
	font-size: 100%;
  background-color: white;
}
*, *::before, *::after{
	box-sizing: inherit;
}
.polaroid-images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}
.polaroid-images a:after {
	color: #a5cdd4;
	font-size: 35px;
  font-family: 'Nunito', sans-serif;font-weight: 700;
	content: attr(title);
	position: relative;
	top:15px;
}
.polaroid-images img {
	display: block;
	width: inherit;
  background-size: cover;
  height: 18rem;
  background-position: 0;
}
body{
  margin: 0;
}
p{
font-family: 'Nunito', sans-serif;
max-width: 40em;
margin: 0 auto;
}
h2{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.images{
  width: 100%;
}
#social{
max-width: 40em;
margin: 0 auto;
}

#artwork{
  max-width: 40em;
  margin: 0 auto;
}
.icons{
  list-style: none;
}
.icons li{
  display: inline-block;
}
footer{
  font-family: 'Nunito', sans-serif;
  text-align: center;
color: #a5cdd4;
}
@media only screen and (min-width: 38rem) {
  html{
    font-size: 110%;
    line-height: 1.4;
  }
  p{
    max-width: 30rem;
  }
  .polaroid-images img {

}
@media only screen and (min-width: 60rem) {
  html{
    font-size: 120%;
    line-height: 1.5;
  }
  p{
    max-width: 48rem;
  }
}
@media print{
  nav{
    display: none;
  }
  main a::after{
    content: " (" attr(href) ")";
    color: #999;
  }
}
