@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport{width: device-width; scale: 1;}

html{
	box-sizing: border-box;
font-family: 'Nunito', sans-serif;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 1.1;
	font-size: 100%;
  background-color: #fcf6e8;
}
*, *::before, *::after{
	box-sizing: inherit;
}
.banner{
  max-width: 40em;
  margin: 0 auto;
}
.banner img{
  width: 100%;
  border-radius: 50%;
}
body{
  margin: 0;
}
h1{
font-family: 'Nunito', sans-serif;
  font-weight: 700;
	line-height: 2.6rem;
	margin: 1.3rem;
  text-align: center;
}
p{
font-family: 'Nunito', sans-serif;
max-width: 40em;
margin: 0 auto;
}
.all{
  background-image: url('../images/Portrait.jpeg');
	background-size: cover;
  height: 18rem;
	background-position: 0;
}
h2{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.images{
  width: 100%;
}
#social{
max-width: 40em;
margin: 0 auto;
}
#artwork{
  max-width: 40em;
  margin: 0 auto;
}
.icons{
  list-style: none;
}
.icons li{
  display: inline-block;;
}
footer{
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: #f8a25a;
}
@media only screen and (min-width: 38rem) {
  html{
    font-size: 110%;
    line-height: 1.4;
  }
  p{
    max-width: 30rem;
  }
}
@media only screen and (min-width: 60rem) {
  html{
    font-size: 120%;
    line-height: 1.5;
  }
  p{
    max-width: 48rem;
  }
}
@media print{
  nav{
    display: none;
  }
  main a::after{
    content: " (" attr(href) ")";
    color: #999;
  }
}
